{% extends "layout.html" %}

{% block main %}
    <h1 class="text-center text-5xl py-4">{{ current_user.name }}</h1>
    <div class="text-center text-3xl py-2">Points: {{ current_user.points }}</div>
    <div class="grid grid-cols-2 gap-4">
        <div>
            <h1 class="text-center text-xl font-bold">Predictions</h1>
            <table class="table table-auto mx-auto border-separate">
                <thead class="table-header-group bg-slate-500 text-white">
                <tr class="table-row">
                    <th class="table-cell border px-2 py-1 text-center">Team 1</th>
                    <th class="table-cell border px-2 py-1 text-center">Actual score</th>
                    <th class="table-cell border px-2 py-1 text-center">Predicted score</th>
                    <th class="table-cell border px-2 py-1 text-center">Team 2</th>
                    <th class="table-cell border px-2 py-1 text-center">Date</th>
                </tr>
                </thead>
                <tbody class="table-row-group">
                {% for game_to_display in games_to_display %}
                    <tr class="table-row">
                        <td class="table-cell border px-2 py-1">{{ game_to_display["team1"] }}</td>
                        <td class="table-cell border px-2 py-1">{{ game_to_display["score1"] }} : {{ game_to_display["score2"] }}</td>
                        <td class="table-cell border px-2 py-1">{{ game_to_display["pscore1"] }} : {{ game_to_display["pscore2"] }}</td>
                        <td class="table-cell border px-2 py-1">{{ game_to_display["team2"] }}</td>
                        <td class="table-cell border px-2 py-1">{{ game_to_display["date"] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="flex flex-col flex-start items-center gap-4 p-8">
            <h1 class="text-center text-xl font-bold">Next prediction</h1>
            {% if next_prediction %}
                <form method="post" action={{ url_for('prediction') }}
                      class="w-1/2 border-solid flex flex-col flex-start items-center border-2 border-slate-500 rounded gap-4 p-4">
                    {{ form.hidden_tag() }}
                    {{ form.pscore1(class="border-solid border-2 border-slate-500 mx-auto w-1/2 p-2 rounded", placeholder=next_prediction["team1"]) }}
                    {{ form.pscore2(class="border-solid border-2 border-slate-500 mx-auto w-1/2 p-2 rounded", placeholder=next_prediction["team2"]) }}<br>
                    {{ form.submit(class="border-solid border-2 border-black mx-auto w-1/2 bg-slate-700 text-white p-2 rounded-full text-center") }}
                </form>
            {% else %}
                <h2 class="text-center text-l">You're all set!</h2>
            {% endif %}
        </div>
    </div>
{% endblock %}