{% extends "layout.html" %}

{% block main %}
    <form method="post" action="/login"
          class="w-1/2 m-8 p-8 mx-auto gap-4 flex flex-col border-solid border-2 border-slate-500 rounded">
        {{ form.hidden_tag() }}
        {{ form.email(class="border-solid border-2 border-slate-500 mx-auto w-full p-1 rounded") }}
        {{ form.password(class="border-solid border-2 border-slate-500 mx-auto w-full p-1 rounded") }}
        {{ form.submit(class="border-solid border-2 border-black mx-auto w-1/2 bg-slate-700 text-white p-1 rounded-full text-center") }}
    </form>
    <p class="text-center">Not registered? <a href="{{ url_for('register') }}" class="text-blue-500">Click here</a></p>

{% endblock %}